<app-navbar></app-navbar>

<div class="container mt-4">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">

              <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center" >

                 <h1 style="color:brown"> View all Patients</h1>
              </div>

                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3" *ngFor = "let i of data">

                  <div class="card" style="width: 18rem;">
                    <img src="https://cdn.icon-icons.com/icons2/2643/PNG/512/male_boy_person_people_avatar_icon_159358.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Name : {{i.name}}</h5>
                     
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Doctor Name : {{i.doctorname}}</li>
                      <li class="list-group-item">Place : {{i.place}}</li>
                      <li class="list-group-item">Age : {{i.age}}</li>
                      <li class="list-group-item">Mobile Number :{{i.mobno}}</li>
                    </ul>
                   
                   
                </div>
            </div>
        </div>
    </div>
</div>

